{{$offline := not .Online}}
{{$lastScreenshot := .GetLastScreenshot}}

<div class="mac-container">
    <div class="header{{if $offline}} offline{{end}}">
        <table>
            {{range .PrettyHardwareInOrder}}
                <tr>
                    <td class="key">{{.Key}}</td>
                    <td class="value">{{.Value}}</td>
                </tr>
            {{end}}
        </table>
        <table>
            {{range .PrettySoftwareInOrder}}
                <tr>
                    <td class="key">{{.Key}}</td>
                    <td class="value">{{.Value}}</td>
                </tr>
            {{end}}
        </table>
        <div class="icon">
            <img style="height: 100%;" src="resources/icons/generic-apple.png" alt="icon" />
            <!--<span>OS Version</span>-->
        </div>
        <h1>
            {{.Info.ProductLine}}<br />
            <a style="font-weight: normal;" href="#">{{.Info.Nickname}}</a>
        </h1>
    </div>
    {{if $lastScreenshot}}
        <div class="screenshot-container">
            <img src="devices/{{.DeviceID}}/screenshots/{{$lastScreenshot}}" alt="{{.DeviceID}}" class="screenshot{{if $offline}} offline{{end}}" />
            {{if $offline}}
                <div class="screenshot-overlay"></div>
                <div class="last-seen">Last seen A VERY<br />LONG TIME AGO</div>
            {{end}}
        </div>
    {{end}}
</div>
